body {
    margin: 0;
    background-color: rgb(82, 138, 221);
    background: linear-gradient(to right, lightblue, skyblue, lightblue);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(14, 139, 97);

}

.container {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 15px;
    width: 400px;
    margin: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 10px;


}

.heading {
    text-align: center;
}

.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 20px;

}

.input-container input {
    width: 400%;

    max-width: 450%;
    padding: 5px;
    font-size: 15px;
    border-radius: 10px;
    border: rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3)inset;
    outline: none;
    color: rgb(14, 139, 97);
}

.resultinp {
    margin-top: 20px;
    color: rgb(158, 15, 125);
}

#result {
    margin-top: 20px;
    color: rgb(158, 15, 125);
}

.error {
    color: red;
}